.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
}

.img-load {
  width: 6vw;
  height: 6vw;
}

.loaderAni {
  position: absolute;
  left: calc(50% - 4.25vw);
  top: calc(50% - 4.25vw);
  width: 8.5vw;
  height: 8.5vw;
  border-radius: 50%;
  border-top: 0.8vh solid #ebebeb;
  border-right: 0.8vh solid #ebebeb;
  border-bottom: 0.8vh solid #ebebeb;
  border-left: 1vh solid transparent;
  animation: load 1s linear infinite;
}
@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.input-manager {
  width: 100%;
  height: 50vh;
  margin-top: 15vh;
}

.input-manager input {
  transform: translateX(37vw);
  display: block;
  border: 1px solid black;
  width: 26vw;
  transition: all 0.5s;
}

.input-manager input:focus {
  border: none;
  transition: all 0.5s;
}

.manager-cards {
  position: absolute;
  top: 45vh;
}

.titulo-start {
  text-align: center;
  width: 75vw;
  position: absolute;
  top: 30vh;
  left: 50vw;
  transform: translateX(-50%);
  color: white;
  z-index: 10;
  font-size: 4vh;
  display: inline;
}

