.header-curso {
  overflow: hidden;
  width: 100vw;
  height: 55vh;
  position: absolute;
  top: 12vh;
  z-index: 5;
}

.img-container {
  width: 40vw;
  height: 40vh;
  overflow: hidden;
  position: absolute;
  left: 5vw;
  top: 24vh;
}

.foto-producto {
  width: 100%;
  border-radius: 1vh;
}

.titulo-producto {
  font-size: 4.5vh;
  position: absolute;
  top: 12vh;
  left: 25vw;
  transform: translateX(-50%);
  color: #9fd364;
}

.btn-cursos, .btn-catalogo {
  background: #9fd364 !important;
}

.form-producto {
  width: 100vw;
  position: absolute;
  margin-top: 90vh !important;
  text-align: center;
}

.form-producto input {
  margin-left: 15%;
  width: 70%;
  height: auto;
  padding: 2vh;
  outline: none;
  border: none;
  border-radius: 1vh;
  background: #e7e7e7;
  color: #5e5e5e;
}

.form-producto input:focus {
  border: none !important;
}

.btn-producto {
  background: #9fd364;
  color: white;
  border: none;
  outline: none;
  border-radius: 1vh;
  cursor: pointer;
  position: absolute;
  left: 25vw;
  transform: translateX(-50%);
  top: 85vh;
  width: 10vw;
  height: 5vh;
}

.descripcion-producto {
  position: absolute;
  left: 5vw;
  width: 40vw;
  top: 65vh;
}

.caracteristicas-titulo {
  position: absolute;
  left: 55vw;
  top: 22vh;
  color: #9fd364;
}

.propie {
  position: absolute;
  left: 55vw;
  width: 40vw;
  top: 35vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
}

@media screen and (max-width: 950px) {
  .bm-burger-button {
    display: block !important;
  }
  .naver {
    display: none !important;
  }

  .pt {
    width: 35vw !important;
    left: 0vw !important;
  }

  .link-logo {
    width: 30vw !important;
  }

  .contenedor-texto-home {
    width: 70vw;
  }

  .pt-2 {
    width: 35vw !important;
    height: 6.5vh !important;
  }

  .btn-producto {
    background: #9fd364;
    color: white;
    border: none;
    outline: none;
    border-radius: 1vh;
    cursor: pointer;
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
    top: 60vh;
    width: 40vw;
    height: 5vh;
  }
  .descripcion-producto {
    position: absolute;
    left: 5vw;
    width: 90vw;
    top: 70vh;
    text-align: center;
  }
  .titulo-producto {
    left: 50%;
    transform: translateX(-50%);
  }
  .img-container {
    width: 90vw;
    height: 30vh;
    overflow: hidden;
    border-radius: 1vh;
  }
  .caracteristicas-titulo {
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
    top: 75vh;
    color: #9fd364;
  }
  .propie {
    width: 90vw;
    left: 5vw;
    position: absolute;
    top: 80vh;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .form-producto {
    top: 30vh;
  }
  .cards-check {
    grid-template-columns: repeat(3, 1fr);
  }

  .cards-check input {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-75%);
    width: 4vw;
    height: 4vw;
    cursor: pointer;
  }
  .input-manager input {
    width: 90vw;
    transform: translateX(0);
  }
  .input-manager {
    width: 90vw;
    margin-left: 5vw;
  }
  .cards-cursos {
    height: 35vh;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .img-cursos_container {
    top: 25%;
  }
  .texto-card_container {
    bottom: 10%;
  }
}

@media screen and (max-width: 700px) {
  .pt {
    width: 35vw !important;
    left: 7vw !important;
  }

  .cards-cursos {
    height: 50vh;
  }

  .pt-2 {
    width: 45vw !important;
    height: 6.7vh !important;
  }

  .btn-producto {
    background: #9fd364;
    color: white;
    border: none;
    outline: none;
    border-radius: 1vh;
    cursor: pointer;
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
    top: 56vh;
    width: 40vw;
    height: 5vh;
  }
  .descripcion-producto {
    position: absolute;
    left: 5vw;
    width: 90vw;
    top: 65vh;
    text-align: center;
  }
  .titulo-producto {
    left: 50%;
    transform: translateX(-50%);
  }
  .img-container {
    width: 90vw;
    height: 30vh;
    overflow: hidden;
    border-radius: 1vh;
  }
  .propie {
    width: 90vw;
    left: 5vw;
    position: absolute;
    top: 90vh;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .form-producto {
    top: 70vh;
    width: 90vw;
  }
  .form-producto input {
    width: 90vw;
    left: 0 !important;
    margin-left: 5vw !important;
  }

  .caracteristicas-titulo {
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
    top: 80vh;
    color: #9fd364;
  }
  .btns-data {
    margin-left: 10vw !important;
    grid-template-columns: repeat(1, 1fr) !important;
    grid-template-rows: repeat(2, 1fr) !important;
  }
  .btns-data button {
    margin-top: 1vh !important;
    width: 80vw;
  }
  .cards-check {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 5vh;
    grid-row-gap: 5vh;
  }
  .cards-check input {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-100%);
    width: 6vh;
    height: 6vw;
    cursor: pointer;
  }
}

.content-curso {
  position: absolute;
  top: 72vh;
  left: 15vw;
  margin-bottom: 20vh;
  width: 70vw;
}

video {
  width: 100%;
}

.player {
  width: 100%;
  overflow: scroll;
}

.img-curso-manage {
  object-fit: cover;
  width: 100%;
}

.header-curso-manage {
  height: 88vh;
  overflow: hidden !important;
}

.center {
  top: 20% !important;
}

.cargar {
  position: absolute;
  left: 50vw;
  bottom: 5vh;
}

.btns-data {
  margin-left: 25%;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 2vw;
  grid-row-gap: 0px;
}

.btns-data button {
  cursor: pointer;
  height: 5vh;
  background: #9fd364;
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 1vh;
  margin-top: 5vh;
}

.propie div h3 {
  color: #9fd364;
}
